<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Meal Prep Application</display-name>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/loginError.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>General Users and AdminMan</web-resource-name>
      <url-pattern>/index.jsp</url-pattern>
      <url-pattern>/addUser.jsp</url-pattern>
      <url-pattern>/createRecipe.jsp</url-pattern>
      <url-pattern>/deletedUserResults.jsp</url-pattern>
      <url-pattern>/logout.jsp</url-pattern>
      <url-pattern>/searchForGrocerylist.jsp</url-pattern>
      <url-pattern>/searchForGroceryListResults.jsp</url-pattern>
      <url-pattern>/searchForMenu.jsp</url-pattern>
      <url-pattern>/searchForRecipe.jsp</url-pattern>
      <url-pattern>/searchForRecipeResults.jsp</url-pattern>
      <url-pattern>/searchForUser.jsp</url-pattern>
      <url-pattern>/searchForUserResults.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>General</role-name>
      <role-name>AdminMan</role-name>
    </auth-constraint>
  </security-constraint>

  <security-role>
      <role-name>General</role-name>
  </security-role>
  <security-role>
    <role-name>AdminMan</role-name>
  </security-role>
</web-app>